{% extends 'base.html' %}

{% load static %}

{% block title %}Edit card{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'tournament_decks' card.deck.tournament.pk %}">{{ card.deck.tournament.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'deck_cards' card.deck.tournament.pk card.deck.pk %}">{{ card.deck.subject }}</a></li>
  <li class="breadcrumb-item active">Edit card</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'deck_cards' card.deck.tournament.pk card.deck.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
