{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Tournaments</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Tournaments</th>
        <th>Decks</th>
      </tr>
    </thead>
    <tbody>
      {% for tournament in tournaments %}
        <tr>
          <td>
            <a href="{% url 'deck_tournaments' tournament.pk %}">{{ tournament.name }}</a>
            <small class="text-muted d-block">{{ tournament.date }}</small>
          </td>
          <td class="align-middle">
            {{ tournament.get_decks_count }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
